<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome</title>
    <link rel="stylesheet" href="css/welcome.css" type="text/css">
    <link rel="stylesheet" href="css/common.css" type="text/css">
</head>
<body>
    <div class="welcomeBig">
        <div class="midDiv">
            <div style="width: 100%;height: 20%;"></div>
            <div>
                <h1>重庆大学</h1>
                <h2>计算机科学与技术</h2>
                <h2>程正</h2>
                <h2>20144526</h2>
                <button class="btnToBksj" onclick="javascript:window.location.href='vueTest'">本科毕业设计</button>
            </div>
        </div>
    </div>
</body>
</html>